-------------------------------------------------------------------------------------------------------------
| Enterprise Infrastructure Acceleration , Inc. (***EIA***) | <img src="images/EIAlogo_FullText_OnBlack-01.jpg" alt="image001" style="zoom:5%;" /> |
| --------------------------------------------------- | ------------------------------------------------------------ |
# {{ cfg['Site']}} {{ cfg['Region']}}
## IOT Gateway Deployment Application Flows for Firewall Team {{ cfg['site_name'] }}
#### {{ cfg['Firewall'] }}

| Date   | Requested By:                                       | Services For:                                      |
| ------ | ------------------------------------------------------------ | ------------------------------------------------------------ |
| {{ cfg['date'] }} | ***Department of Technology***<br />>Networking Team<br />Claudia de Luna | Site {{ cfg['Site']}} <br />New LoraWan Gateway:<br />{{ cfg['BaseStationName'] }} <br />{{ cfg['BaseStationIP'] }} |


-------------------------------------------------------------------------------------------------------------

# Flow Diagram

![{{ cfg['Site']}} Flow Diagram]({{ cfg['url']}})

[Flow Diagram Link]({{ cfg['url']}})



# Appendix C - Contacts



| **Name**          | **Mobile**        | **Role**          | **Company** |
| ----------------- | ----------------- | ----------------- | ----------- |
| Claudia de Luna   | +1 (818) 312-0033 | Network Engineer  | ***EIA***     |


 
